@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header-Analyst">
    <h1 class="Name-Profile">Perfil de analista</h1>
    <p>Me enfoco en revisar y encontrar la resolucion a las problematicas que se dan en la vida real, mediante un solucion tecnologica desde el software, encontrando cuales son los puntos mas debiles en los cuales se puede fortalecer la operacion</p>
    <p>Poseo habilidades sólidas en el análisis funcional de sistemas, la elaboración de especificaciones técnicas y la traducción de necesidades del negocio en soluciones tecnológicas.</p>
</div>
<div class="text-content">
    <img src="~/assets/analista.jpg" alt="Alternate Text" />
</div>