@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header-Analyst">
    <h1 class="Name-Profile">Perfil de Diseñador</h1>
    <p>En el diseño, destaco por la capacidad de estructurar sistemas con interfaces intuitivas y modelos de datos consistentes, optimizando la experiencia del usuario y el rendimiento de las aplicaciones</p>
    <p>Manejando herramientas como figma para hacer los mockups de las aplicaciones y canva para hacer las maquetaciones de los componentes que se van a redenrizar en el frontend</p>
</div>
<div class="text-content">
    <img src="~/assets/diseñador.jpg" alt="Alternate Text" />
</div>