@{
    ViewData["Title"] = "Home Page";
}

<div class="header-container">
    <h1 class="Name-Profile">Juan Camilo Rojas</h1>
    <p>Soy Analista y desarrollador de Software con enfoque en el desarrollo de soluciones tecnológicas eficientes y escalables. Cuento con experiencia en la definición de requisitos, modelado de sistemas y diseño de arquitecturas de software, integrando metodologías ágiles y principios de Clean Code y arquitectura hexagonal para garantizar calidad y mantenibilidad en los proyectos.</p>
</div>
<div class="text-content">
    <img src="~/assets/profile.jpg" alt="Alternate Text" />
</div>
