@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header-qualities">
    <h1 class="Name-Profile">Cualidades</h1>
    <ul>
        <li>Tolerancia y respeto en proyectos colaborativos para una comunicacion acertiva entre los involucrados</li>
        <li>Pensamiento analítico y capacidad para transformar problemas complejos en soluciones claras.</li>
        <li>
            Organización y orientación a resultados, con fuerte enfoque en la calidad del software.
        </li>
        <li>
            Trabajo en equipo y comunicación efectiva con perfiles técnicos y no técnicos.
        </li>
        <li>
            Creatividad e innovación en el diseño de productos y soluciones digitales.
        </li>
        <li>
            Adaptabilidad y aprendizaje continuo en nuevas tecnologías y metodologías.
        </li>
</ul>
</div>
<div class="text-content">
    <img src="~/assets/cualidad.jpg" alt="Alternate Text" />
</div>