@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header-speciality">
    <h1 class="Name-Profile">Especialidades</h1>
    <ul>
        <li>
            Análisis y diseño de sistemas: elaboración de casos de uso, modelos UML, historias de usuario y especificaciones de requisitos.
        </li>
        <li>
            Desarrollo de software: experiencia en Java, JavaScript, TypeScript, Node.js, Angular, Python, y frameworks modernos para frontend y backend.
        </li>
        <li>
            Bases de datos: diseño y gestión de PostgreSQL, MySQL y Prisma ORM.

        </li>
        <li>
            Arquitectura de software: aplicación de arquitectura hexagonal, principios SOLID, patrones de diseño y buenas prácticas de ingeniería.

        </li>
        <li>
            Gestión de proyectos: familiaridad con Scrum, SBOK y metodologías ágiles para el desarrollo colaborativo.

        </li>
        <li>
            Innovación tecnológica: integración de IA, chatbots, sistemas de reservas en línea y plataformas de marketplace.
        </li>
    </ul>
</div>
<div class="text-content">
    <img src="~/assets/speciality.jpg" alt="Alternate Text" />
</div>